<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.longarndu.aboc.mainaboc"

    android:versionCode="2"
    android:versionName="2.0">

    <uses-sdk android:minSdkVersion="7"
        android:targetSdkVersion="25"
        android:maxSdkVersion="26" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- USE_CREDENTIALS for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityAboc"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.scanlibrary.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- Scan Image Paper -->
        <activity
            android:name="com.scanlibrary.ScanActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <service
            android:name="com.longarndu.aboc.mainaboc.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.longarndu.aboc.mainaboc.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- start google plus login -->
        <activity android:name="com.facebook.FacebookActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- end google plus login -->

        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityNavigationDrawer"
            android:theme="@style/nLiveoDrawer"
            android:screenOrientation="landscape"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.IntroSliderAboc"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityIntroSlide"
            android:theme="@style/FullscreenTheme" />

        <!-- nDrawerActivity -->
        <activity
            android:name="com.longarndu.aboc.mainaboc.SettingsActivityNavigationDrawer"
            android:screenOrientation="landscape"
            android:label="@string/settings">
        </activity>

        <!-- Login -->
        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityLogin"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.LoginEmailAndPassword"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.LoginGoogle"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.LoginFacebook"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.LoginOtherAccount"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.LoginWithPhone"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.ManageUserActivity"
            android:screenOrientation="landscape">
        </activity>

        <!-- Customer Service -->
        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityRequestRepair"
            android:screenOrientation="landscape">
        </activity>

        <!-- Data of Firebase -->
        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityAddFirebaseData"
            android:screenOrientation="landscape">
        </activity>

        <!-- Update Notification of Firebase -->
        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityUpdateNotificationFallDetectionFirebaseData"
            android:screenOrientation="landscape">
        </activity>

        <!-- Update Data of Firebase -->
        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityUpdateAndDeleteFirebaseData"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityScanPaper"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- IOT -->
        <activity
            android:name="com.longarndu.aboc.mainaboc.AndroidIOTWebviewActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.MainActivityAddEBook"
            android:label="@string/app_name"
            android:supportsRtl="true">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.FdActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="com.folioreader.activity.FolioActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.Homepage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.BluetoothManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.ControlLightManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.DeviceListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.ReadingBookManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.longarndu.aboc.mainaboc.VideoManager"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <service
            android:name="com.longarndu.aboc.mainaboc.FacePredictionService"
            android:exported="false"></service>
    </application>

</manifest>